.chat-stream {
  position: absolute;
  max-height: 80%;
  height: 80%;
  overflow: auto;
}

.stream-div {
  position: absolute;
  bottom: 0;
}

.chat-message {
  background: lightskyblue;
  margin: 4px 0px;
  padding: 8px;
}

.chat-username {
  color: rgb(20, 15, 15);
  border-bottom: 1px solid gray;
  font-size: 12px;
}

.typing-indicator {
  color: gray;
  font-style: italic;
  font-size: 11px;
  padding-left: 12px;
}

.message-form {
  height: 12%;
  padding: 20px 10px 20px 10px;
}
